	body { 
    background:black;
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration:none;
    font-size:14px;
    font-weight:600;
    color:white;
}

p{
    color:white;
    font-size:12px;
}

/* CONTENT */

.content {
    width:600px;
    margin:0 auto;
    margin-top:50px;
}

.headwrap{
    width:100%;
    text-align:center;
    padding-top:15px;
}

.logo img {
    width:100%;
    max-width:40%;
}

.daftar a, .login a, .wap a{
    width:100%;
    padding:10px 0;
    margin-top:20px;
    display:block;
}

.login {
    margin-top:10px;
    background:#a51c1c;
}


/* WELCOME */
.welcome{
    margin-top:10px;
}

.welcome img{
    width:100%;
    max-width:100%;
}

.welcome h1 {
    color:#ff8d54;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight:200;
    font-size:20px;
    text-align:center;
    margin:0;
}
		.welcome h2 {
    color:#ff8d54;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight:200;
    font-size:20px;
    text-align:center;
    margin:0;
}
		.welcome h3 {
    color:#ff8d54;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight:200;
    font-size:20px;
    text-align:center;
    margin:0;
}
		.welcome h4 {
    color:#ff8d54;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight:200;
    font-size:20px;
    text-align:center;
    margin:0;
}

/* TABLE */
.text-info table{
    width:100%;
    font-size:12px;
    max-width:100%;
    border:1px solid white;
    text-align:center;
    color:white;
}

.text-info table td {
    border-bottom:1px dashed white;
}

.text-info table span {
    color:#ffd600;
}

/* JADWAL BANK & TERPERCAYA*/
.jadwal-bank img, .terpercaya img{
    margin-top:20px;
    width:100%;
    max-width:100%;
}

/* COPYRIGHT */
.copyright p {
    color:#ff8d54;
    text-align:center;
}

@-webkit-keyframes blink1 {
        0%   { opacity: 1; background:#1ba57b; }
        30%   { opacity: 1; background:#1ba5a0; }
        50%   { opacity: 1; background:#1b70a5;}
        80% { opacity: 1; background:#1b3da5; }
        100% { opacity: 1; background:#591ba5; }
      }

.blink1 {
        animation: blink1 6s linear infinite;
        background:#1ba542;
 }
 @-webkit-keyframes blink2 {
        0%   { opacity: 1; background:#1ba57b; }
        30%   { opacity: 1; background:#1ba5a0; }
        50%   { opacity: 1; background:#ffd700;}
        80% { opacity: 1; background:#fedb50; }
        100% { opacity: 1; background:#591ba5; }
      }

.blink2 {
        animation: blink2 5s linear infinite;
        background:#fedb50;
 }
 @-webkit-keyframes blink3 {
        0%   { opacity: 1; background:#1ba57b; }
        30%   { opacity: 1; background:#1ba5a0; }
        50%   { opacity: 1; background:#ffd700;}
        80% { opacity: 1; background:#1b3da5; }
        100% { opacity: 1; background:#591ba5; }
      }

.blink3 {
        animation: blink3 4s linear infinite;
        background:#FFD700;
 }

@media screen and (max-width: 480px)
 { .content{
    max-width: 96%;
    margin: 0 auto;
    }
    
    .login,.daftar, .wap{
        width:65%;margin:10px auto;
        font-size:16px;font-weight:700;
    }
    
    .logo img {
    width:100%;
    }
    
    p, li{text-align:justify; color:white; font-size:12px;}
    
    .welcome h2 {
        font-size:14px;
    }
        
 }
 
 @media screen and (max-width:320px)
 {
  .content{max-width:96%;margin:0 auto}
  
  p{text-align:justify; color:white; font-size:12px;}
  
  .welcome h2 {
        font-size:14px;
    }
    
}
